.big-banner{
    background-image: url(genshinbgg.jpg);
    background-size: cover;
    height: 100vh;
}

.big-banner-dark{
    /* background-image: url(genshinbg.png);
    background-size: cover; */
    height: 20vh;
}
/*GLOWING BORDER*/

.glowing-border { 
    outline: none;
    border-color: #ffd700;
    box-shadow: 0 0 10px #ffd700;
    border-radius: 10px;
}
.glowing-border:hover{
    box-shadow: 0 0 20px #ffd700;
}
.body-characters{
    background-image: url(starrysky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
.maincontentcss{
    background-color: #2a4b7cc7;
    border-radius: 20px;
    color: #ffd700;
}
.charactername{
    font-size: 8rem;
}
.mainone {
    display: flex;
    flex-direction: row;
    overflow: visible;
}

.mainone>.picture>img {
    width: 900px;
}

.tempdivider {
    background-color: #fffdd0;
}

.tempdivider-golden {
    width: 50%;
}

.bgcolor {
    background-color: #fffdd0;
}

.mainone>.text {
    margin-left: 100px;
}


/*font*/

body{
    scroll-behavior: smooth;
    font-family: 'Kreon', serif;
}

.padding-top{
    padding-top: 5rem;
}

.teyvat{
    font-size: 1.2rem;
}
.citycss{
    border-radius: 50%;
}
.hugefont{
    font-size: 1.5rem;
}
.massivefont{
    font-size: 2.5rem;
}

